
    /* reset */
*{
    margin: 0;
    box-sizing: border-box;
}
.box1{
    background-color: gray;
    height: 100px;
    padding: 20px;
}
.box1 h1:hover{
    color: snow;
    letter-spacing: 20px;
    text-decoration: underline;
}
.box2{
    background-color: green;
    height: 150px;
    margin: 0 20%;
    overflow: auto;
    padding: 10px;
}
.box3{
    border: 4px solid red;
    height: 200px;
    width: 50%;
    float: left;
}
.box4{
    border: 4px solid black;
    height: 200px;
    width: 50%;
    float: right;
    overflow: auto;
}
.item1{
    border: 2px dashed blue;
    height: 100px;
    /* width: 100px; */
    padding-left: 30px;
    padding-top: 20px;
    /* box-sizing: border-box; */
}
.item1 li{
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
}
.item1 li:hover{
    background-color: yellow;
}
.item2{
    border: 2px dashed red;
    /* height: 100px; */
    /* width: 100px; */
    padding: 20px;
   
}
.item2 a{
    border: 1px solid black;
    width: 200px;
    margin-top: 20px;
    display: block;
}
.box5{
    border: 4px solid blue;
    height: 300px;
    clear:both ;
    float: left;
    width: 33.33%;
}
.box6{
    border: 4px solid green;
    height: 300px;
    float: left;
    width: 33.33%;
}
.box7{
    border: 4px solid gold;
    height: 300px;
    float: left;
    width: 33.33%;
}
.box8{
    background-color: lightgray;
    height: 50px;
    clear: left;
}
.item3{
    border: 1px solid yellow;
    height: 60px;
    width: 100px;
    position: static;
    left: 100px;
}
.item4{
    border: 1px solid blue;
    height: 60px;
    width: 100px;
    position: relative;
    left: 150px;
    top: 50px;
    z-index: 20;
}
.item5{
    border: 1px solid red;
    height: 60px;
    width: 100px;
    position: fixed;
    right: 30px;
    bottom: 20px;
}
.item6{
    border: 1px solid green;
    height: 60px;
    width: 100px;
    position: absolute;
    right: 40px;
    top: 0;
}
.item7{
    border: 1px solid green;
    height: 150px;
    width: 150px;
    position: relative;
    left: 40px;
    z-index: 21;
    background-color: brown;
}
input:focus{
    background-color: gray;
}
